@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,900;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;

  background: #292929;
}

a {
  z-index: 1;
}

header {
  width: 100%;
  padding: 20px 10px;

  display: flex;
  flex-direction: row;
  gap: 10%;

  background: #21242a;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4rem;

  color: #a6afa7;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.nav_links li {
  padding: 0px 20px;

  display: flex;
}

/* .nav_links a {
  padding: 12px 30px;
  margin: 0px 40px;

  cursor: pointer;

  font-size: 18px;
  color: #fefeff;
  text-decoration: none;

  border: none;
  border-radius: 10px;
  background: none;
}

.nav_links a:hover,
.nav_links a:focus {
  border-radius: 10px;
  background: #6238a9;
} */

aside {
  width: 16%;
  height: 870px;

  float: left;

  background: #6238a9;
}

article {
  height: 100vh;

  float: center;
}

aside a {
  position: relative;
  width: 129px;
  height: 48px;

  display: flex;
  align-items: center;

  font-size: 20px;
  color: #fff;

  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

label {
  position: relative;
  width: 150px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 1rem;
  color: #fff;

  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

input[type="radio"] {
  appearance: none;
}

.side_radio input:checked ~ label {
  background-color: rgb(28, 34, 41, 0.7);
  border-radius: 10px;
}

.nav_links input:checked ~ label{
  background: #6238a9;
  border-radius: 10px;
}

.side_radio p{
  min-width: 90px;
  text-align: center;
}

#li_img {
  width: 20px;
  height: 20px;
}

aside ul {
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  list-style: none;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px;
  margin-top: -100px;

  display: flex;
  align-items: center;
  justify-content: center;

  clear: both;

  background: #21242a;
}

::-webkit-scrollbar {
  display: none;
}
